<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>MOHO ADMIN</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="stylesheet" href="/css/bootstrap.min.css" />
   <link rel="stylesheet" href="/css/style.css" />
   <link rel="stylesheet" href="/css/responsive.css" />
   <link rel="stylesheet" href="/css/bootstrap-select.css" />
   <link rel="stylesheet" href="/css/perfect-scrollbar.css" />
   <link rel="stylesheet" href="/css/custom.css" />
</head>
<!-- <style>
   .dropdown-menu {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
   }

   .dropdown:hover .dropdown-menu {
      display: block;
   }
</style> -->

<style>
   .dropdown-menu {
      min-width: 20rem;
      left: 0 px;
   }
</style>

<body class="dashboard dashboard_1">
   <div class="full_container">
      <div class="inner_container">
         <!-- Sidebar  -->
         <nav id="sidebar">
            <div class="sidebar_blog_1">
               <div class="sidebar-header">
                  <div class="logo_section">
                     <!-- <a href="index.html"><img class="logo_icon img-responsive" src="images/logo/logo_icon.png"
                           alt="#" /></a> -->
                  </div>
               </div>
               <div class="sidebar_user_info">
                  <div class="icon_setting"></div>
                  <div class="user_profle_side">
                     <div class="user_img"><img class="img-responsive" src="/img/user_img.jpg" alt="#" />
                     </div>
                     <div class="user_info">
                        <h6>Thuyen depzai</h6>
                        <p><span class="online_animation"></span> Online</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="sidebar_blog_2">
               <h4>General</h4>
               <ul class="list-unstyled components">
                  <li><a href="/admin/"><i class="fa fa-dashboard yellow_color"></i> <span>Dashboard</span></a>
                  </li>
                  <li><a href="/admin/UserManagement"><i class="fa fa-table purple_color2"></i> <span>User
                           Management</span></a>
                  </li>

                  <li><a href="/admin/ProductManagement"><i class="fa fa-briefcase blue1_color"></i> <span>Product
                           Management</span></a>
                  </li>
                  <li class="dropdown">
                     <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-table purple_color2"></i> <span>Order Management</span> <b class="caret"></b>
                     </a>
                     <ul class="dropdown-menu">
                        <li><a href="/admin/orderManagement/pending">Chờ xác nhận</a></li>
                        <li><a href="/admin/orderManagement/confirmed">Đã xác nhận</a></li>
                        <li><a href="/admin/orderManagement/delivering">Đang giao</a></li>
                        <li><a href="/admin/orderManagement/delivered">Đã giao</a></li>
                        <li><a href="/admin/orderManagement/cancelled">Đã hủy</a></li>
                     </ul>
                  </li>

               </ul>
            </div>
         </nav>
         <!-- end sidebar -->
         <!-- right content -->
         <div id="content">
            <!-- topbar -->
            <div class="topbar">
               <nav class="navbar navbar-expand-lg navbar-light">
                  <div class="full">
                     <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i
                           class="fa fa-bars"></i></button>
                     <div class="right_topbar">
                        <div class="icon_info">

                           <ul class="user_profile_dd">
                              <li>
                                 <a class="dropdown-toggle" data-toggle="dropdown"><img
                                       class="img-responsive rounded-circle" src="/img/user_img.jpg" alt="#" /><span
                                       class="name_user">Thuyen depzai</span></a>
                                 <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/admin/help">Help</a>
                                    <a class="dropdown-item" href="#"><span>Log Out</span> <i
                                          class="fa fa-sign-out"></i></a>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </nav>
            </div>
            <!-- end topbar -->
            <!-- dashboard inner -->
            <div class="midde_cont">
               <div class="container-fluid">
                  <div class="row column_title">
                     <div class="col-md-12">
                        <div class="page_title">
                           <h2>Dashboard</h2>
                        </div>
                     </div>
                  </div>
                  <div class="row column1">
                     <div class="col-md-6 col-lg-3">
                        <div class="full counter_section margin_bottom_30">
                           <div class="couter_icon">
                              <div>
                                 <i class="fa fa-user yellow_color"></i>
                              </div>
                           </div>
                           <div class="counter_no">
                              <div>
                                 <p class="total_no">2500</p>
                                 <p class="head_couter">Welcome</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3">
                        <div class="full counter_section margin_bottom_30">
                           <div class="couter_icon">
                              <div>
                                 <i class="fa fa-clock-o blue1_color"></i>
                              </div>
                           </div>
                           <div class="counter_no">
                              <div>
                                 <p class="total_no">123.50</p>
                                 <p class="head_couter">Average Time</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3">
                        <div class="full counter_section margin_bottom_30">
                           <div class="couter_icon">
                              <div>
                                 <i class="fa fa-cloud-download green_color"></i>
                              </div>
                           </div>
                           <div class="counter_no">
                              <div>
                                 <p class="total_no">1,805</p>
                                 <p class="head_couter">Collections</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3">
                        <div class="full counter_section margin_bottom_30">
                           <div class="couter_icon">
                              <div>
                                 <i class="fa fa-comments-o red_color"></i>
                              </div>
                           </div>
                           <div class="counter_no">
                              <div>
                                 <p class="total_no">54</p>
                                 <p class="head_couter">Comments</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row column1 social_media_section">
                     <div class="col-md-6 col-lg-3">
                        <div class="full socile_icons fb margin_bottom_30">
                           <div class="social_icon">
                              <i class="fa fa-facebook"></i>
                           </div>
                           <div class="social_cont">
                              <ul>
                                 <li>
                                    <span><strong>35k</strong></span>
                                    <span>Friends</span>
                                 </li>
                                 <li>
                                    <span><strong>128</strong></span>
                                    <span>Feeds</span>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3">
                        <div class="full socile_icons tw margin_bottom_30">
                           <div class="social_icon">
                              <i class="fa fa-twitter"></i>
                           </div>
                           <div class="social_cont">
                              <ul>
                                 <li>
                                    <span><strong>584k</strong></span>
                                    <span>Followers</span>
                                 </li>
                                 <li>
                                    <span><strong>978</strong></span>
                                    <span>Tweets</span>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3">
                        <div class="full socile_icons linked margin_bottom_30">
                           <div class="social_icon">
                              <i class="fa fa-linkedin"></i>
                           </div>
                           <div class="social_cont">
                              <ul>
                                 <li>
                                    <span><strong>758+</strong></span>
                                    <span>Contacts</span>
                                 </li>
                                 <li>
                                    <span><strong>365</strong></span>
                                    <span>Feeds</span>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6 col-lg-3">
                        <div class="full socile_icons google_p margin_bottom_30">
                           <div class="social_icon">
                              <i class="fa fa-google-plus"></i>
                           </div>
                           <div class="social_cont">
                              <ul>
                                 <li>
                                    <span><strong>450</strong></span>
                                    <span>Followers</span>
                                 </li>
                                 <li>
                                    <span><strong>57</strong></span>
                                    <span>Circles</span>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- graph -->

               </div>
               <!-- footer -->
            </div>
            <!-- end dashboard inner -->
         </div>
      </div>
   </div>
   <!-- jQuery -->
   <script src="/js/jquery.min.js"></script>
   <script src="/js/bootstrap.min.js"></script>
   <script src="/js/custom.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script>
      $(document).ready(function () {
         $(".dropdown-toggle").click(function () {
            $(this).next(".dropdown-menu").toggle();
         });
      });
   </script>

</body>

</html>