<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/productDetail.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <img src="https://theme.hstatic.net/200000065946/1001187274/14/logo.png?v=377">
    <header>
        
      <a href="#" class="Home">Trang chủ</a>
      <p>>></p>
      <p class="product__name1"></p>
    </header>
    <main>
        <div class="img__small">
            <img class="product_image1">
        <img class="product_image2">
        </div>
        <img class="main__img">
        <div class="product__information">
            <h3 class="product__name2"></h3>
             <p class="sold"></p> 
          <div class="rate">
            <img class="rate__star">
            <p class="rate__text"></p>
            
          </div>  
            
           <div class="price"> 
               <p class="sale"></p> 
              <p class="sale__price"></p>
              <p class="unsale__price"></p>
            </div>
            <div class="product__color">
                <p>Màu sắc: </p>
            </div>
            <div class="product__description">
            </div>
            <img class="tuvan" src="/img/tuvan.png">
            <div class="quantity">
                <div class="mainasu">-</div>
                <div class="quantity__number"></div>
                <div class="plus">+</div>
            </div>
            <button class="addCart">THÊM VÀO GIỎ</button>
            <button class="buy">MUA NGAY</button>     
        </div>
        
    </main>
</body>
<script src="/js/productDetail.js"></script>
</html>