* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    min-width: none;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #fff;

}
.logo{
    margin-left: 100px;
}
.Home{
    text-decoration: none;
    color: rgb(88, 90, 91);
    margin-right: 5px;
}
header{
    display: flex;
    margin-top: -30px;
    margin-left: 350px;
}
header p{
    margin-right: 5px;
}
 h2{
    /* text-align: center; */
    margin-left: 250px;
    margin-top: 40px;
    font-size: 30px;
}
.cart {
    margin-top: -4px;
    margin-left: 4%; 
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: #000;

}
.cart:hover{
    opacity: 0.7;
}
.cart__circle {
    background-color: rgb(239, 104, 58);
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: absolute;
    margin-top: -30px;
    margin-left: 20px;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 10px;
}
.cart i{
font-size: 30px;
}

.cart p {
    margin-top: -23%;
    margin-left: 40px;
    text-decoration: none;

}
main{
    display: flex;
}
.ordered__product__area{
    margin-top: 20px;
    border-top: 1px solid #b5b1b1;
    padding-top: 20px;
    width: 50%;
    margin-left: 7%;
}
.ordered__element{
    position: relative;
    margin-bottom: 20px;
    /* background-color: aquamarine; */
    color: rgb(92, 94, 90);
    width: 100%;
    border-bottom: 1px solid #b5b1b1;
    padding-bottom: 20px;
    
}
.ordered__numberr{
    text-align: start;
    position: absolute;
    margin-top: 20px;
}

.ordered__number{
      margin-top: 30px;
      margin-left: 12%;
      font-size: 20px;
}
.order__icon{
    position: absolute;
    margin-left: 10%;
}
.ordered__price{
    margin-left:155px;
}
.ordered_status{
    margin-left:155px;
}
.ordered__date{
    margin-left:155px;
}
.getOrderDetail{
    position: absolute;
    text-decoration: none;
    color: blue;
    margin-left: 85%;
    cursor: pointer;
}
.ordered__detail{
    border: 1px solid #b5b1b1;
    width: 38%;
    height: 500px;
    margin-left: 10px;
    overflow: auto;
}
.ordered__detail h3{
    text-align: center;
    margin-top: 15px;
}

.product__elementChild{
    margin-top: 40px;
    border-top: 1px solid #b5b1b1;
    padding-top: 20px;
    margin-left: 5%;
    width: 90%;
}
.product__image{
    width: 70px;
    height:70px;
    position: absolute;
}
.product__name, 
.product__quantity,
.product__color,
.product__price {
    margin-left: 100px;
    /* margin-top: -70px; */
}
.product__total{
    text-align: end;
}



.hide{
    display: none;
}
